@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP&display=swap');

body {
    padding: 10%;
    font-family: 'IBM Plex Sans JP', sans-serif;
}

a {
    font-size: 16px;
    color: #1BAAC2;
    text-decoration: none;
}

a:hover {
    color: #1894a9;
}

button {
    border: none;
    border-radius: 5px;
    background-color: #871bc2;
    color: white;
    padding: 12px 20px;
    margin: 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

button:disabled {
    background-color: gray;
    border-color: gray;
}

button#back {
    padding: 0px;
    background-color: white;
    color: gray;
}


input {
    outline: none;
    border: solid 2px #871bc2;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    color: black;
}

td {
    vertical-align: top;
    font-size: 14px;
    padding: 10px 20px;
    margin: 0px;
}

@media screen and (max-width: 480px) {
    body {
        padding: 5%;
    }
    td {
        font-size: 12px;
        padding: 10px;
    }
}