@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,200&display=swap');

body {
    padding: 10%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
}

ion-icon {
    font-size: 16;
    position: relative;
    top: 2px;
}

a {
    font-size: 20px;
    margin: 10px;
    color: #1BAAC2;
    text-decoration: none;
}

a:hover {
    color: #1894a9;
}

button {
    border: none;
    border-radius: 5px;
    background-color: #871bc2;
    color: white;
    padding: 12px 20px;
    margin: 10px;
    font-size: 16px;
    text-decoration: none;
}

button:disabled {
    background-color: gray;
    border-color: gray;
}

button.back {
    padding: 10px;
    margin: 0px;
    background-color: white;
    color: gray;
    font-size: 40px;
}

button.back.back-corner {
    position: absolute;
    top: 10px;
    left: 10px;
}

button.openTool {
    background-color: #1BAAC2;
    padding-left: 15px;
    margin: 20px 10px;
}

button.openTool ion-icon {
    padding-right: 5px;
}

button.flashcardsButton {
    background-color: white;
    font-size: 32px;
    padding: 10px;
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    left: 10px;
    top: 65px;
    min-width: 135px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: white;
    z-index: 1;
}
  
.dropdown-content button {
    color: black;
    padding: 10px;
    display: block;
    width: 100%;
    background-color: white;
    border-radius: none;
    margin: 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}


input {
    outline: none;
    border: solid 2px #871bc2;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    color: black;
}

td {
    vertical-align: top;
    font-size: 14px;
    padding: 10px 20px;
    margin: 0px;
}
progress {
    position: fixed;
    bottom: 10%;
    left: 10%;
    width: 80%;
    height: 10px;
    border-radius: 5px; 
}

progress::-webkit-progress-bar {
    background-color: white;
}

progress::-webkit-progress-value {
    background-color: #871bc2;
    border-radius: 7px;
}

#label-container {
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 65%;
    bottom: 0;
    display: flex;
    align-items: center;
}

#flashcards #label-container  {
    justify-content: center;
}

#flashcards  {
    text-align: center;
}

#label {
    font-size: 20px;
}

div#container {
    position: fixed;
    width: 80%;
    left: 10%;
    bottom: 15%;
    justify-content: center;
}

input#learnInput {
    width: 50%;
}

.correct input {
    color: #57C21B !important;
    border-color: #57C21B !important;
}

.correct button {
    background-color: #57C21B !important;
    border-color: #57C21B !important;
}

.incorrect input {
    color: #C2321B !important;
    border-color: #C2321B !important;
}

.incorrect button {
    background-color: #C2321B !important;
    border-color: #C2321B !important;
}

.correct progress::-webkit-progress-value {
    background-color: #57C21B !important;
}

.incorrect progress::-webkit-progress-value {
    background-color: #C2321B !important;
}

@media screen and (max-width: 480px) {
    body {
        padding: 5%;
    }
    td {
        font-size: 12px;
        padding: 10px;
    }
}